@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

@layer base {
  body {
    @apply font-[WorkSans];
  }
  li {
    @apply px-6;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(30, 158, 237, 0.8),
    hsla(201, 75%, 49%, 0.8)
  ) !important;
}
